{% load i18n %}
{% autoescape off %}
<!-- Тема письма задается в password_reset_subject.txt -->

<!-- Основное содержимое письма -->
<p>{% translate 'Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на' %} {{ site_name }}.</p>

<p>{% translate 'Пожалуйста, перейдите по следующей ссылке для сброса пароля:' %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
    {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
</a></p>

<p>{% translate 'Ваше имя пользователя:' %} {{ user.get_username }}</p>

<p>{% translate 'Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.' %}</p>

<p>{% translate 'Спасибо за использование нашего сайта!' %}</p>

<p>{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}</p>
{% endautoescape %}