{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% translate "Password reset on" %} {{ site_name }}</title>
</head>
<body>
    <p>{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}</p>

    <p>{% translate "Please go to the following page and choose a new password:" %}</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
        {% translate "Reset password" %}
    </a></p>

    <p>{% translate "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong></p>

    <p>{% translate "Thanks for using our site!" %}</p>

    <p>{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}</p>
</body>
</html>